* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #ecf2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-family: hanken grotestk;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  width: 736px;
  height: 512px;
  border-radius: 32px;
}
.cont1 {
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
  width: 368px;
  height: 100%;
  border-radius: 32px;
  text-align: center;
  justify-content: space-between;
  margin-left: 100px;
  
}
.p2 {
  color: #cac9ff;
  margin-top: 20px;
  font-size: 18px;
  width: 260px;
  margin-left: 60px;
}
.c1 {
  color: #cac9ff;
  margin-top: 50px;
  margin-right: 15px;
}
.c3 {
  margin-top: 20px;
  color: white;
}
.c2 {
  font-size: 72px;
  color: white;
}
.div {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 100px;
  border-radius: 100%;
}
.p1 {
  color: #cac9ff;
}
.s1 {
  margin-right: 250px;
}
.sum1 {
  margin-left: 100px;
  width: 288px;
  height: 56px;
  background-color: color-mix(in srgb, red 5%, white 95%);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.im1 {
  margin-right: 10px;
}
.s2 {
  margin-right: 80px;
  color: red;
}
.s3 {
  margin-right: 10px;
}
.s32 {
  margin-right: 15px;
  color: #303b59;
}
.sum2 {
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background-color: color-mix(in srgb, yellow 5%, white 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 20px;
}
.sum3 {
  width: 288px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, green 5%, white 95%);
  margin-left: 100px;
  margin-bottom: 20px;
}
.sum4 {
  width: 288px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, blue 5%, white 95%);
  margin-left: 100px;
  margin-bottom: 20px;
}
.sum {
  margin-left: 100px;
}

.m {
  margin-right: 80px;
}
.memory {
  margin-right: 15px;
}
.m1 {
  margin-right: 10px;
}
.m2 {
  margin-right: 10px;
  color: #303b59;
}
.verbal{
  margin-right: 15px;
  
}
.verb{
  margin-right:70px;
}
.verb2{
  margin-right:15px;
  margin-left: 20px;
}
.verb3{
  margin-right: 10px;
}
.visual{
  margin-right: 20px;
}
.vs{
  margin-right: 90px;
}
.vs2{
  margin-right: 1cqw;
}
.vs3{
  margin-right: 10px;
}
.button{
  width: 288px;
  height: 56px;
  border-radius: 128px;
  background-color:#303B59;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 100px;
  
}
.btn{
  color: white;
}